// Tags
$tag-background-color: #ffffff;
$tag-selected-color: #000000;
$tag-focus-state: #dcdbda;

// Cards

$card-background-color: #ffffff;
$card-color: #000000;

// dropdown

$dropdown-background-color: #f1f1f1;
