// measurments 16px base

$zero: 0;
$index: 1;
$almost-zero: 0.125rem;
$extra-extra-small: 0.1875rem;
$extra-medium-small: 0.5rem;
$extra-small: 0.625rem;
$large: 3.125rem;
$extra-extra-large: 31.25rem;
$extra-large: 21.875rem;
$medium: 1.5625rem;
$small: 1rem;

$font-small: 0.875rem;
$font-medium: 1.125rem;
$font-large: 1.375rem;
$font-weigth-bold: 400;
